
<p>Do you really want to save the following data?</p>

<!-- Todo should be removed not so as to use duplicated part.-->
<% if ((status == 'inputeed')) { %>
<form method="POST" action="/save">
    <input type="hidden" name="data" value=<%- data %>>
    <input type="hidden" name="status" value=<%- status %>>
    <%- data %> <br><br>
    <button type="submit"　id="save">save</button>
</form>
<% } else if (status == 'edited') {%>
<form method="POST" action="/update/save/">
    <input type="hidden" name="data" value=<%- data %>>
    <input type="hidden" name="status" value=<%- status %>>
    <%- data %> <br><br>
    <button type="submit"　id="save">save</button>
</form>
<% } %>